/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/
body {
	font-family: "Mulish", sans-serif;
	font-style: normal;
	position: relative;
}

.container {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 20px;
}
.header {
	margin-bottom: 190px;
	background-image: url("/30.01/img/logos/header-design.png");
	background-repeat: no-repeat;
	background-position: 0% 25%;
}
.header__top {
	margin-bottom: 85px;
}
.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 60px;
}
.menu__btn {
	display: none;
}
.menu__list {
	display: flex;
}
.menu__list li + li {
	margin-left: 40px;
}
.menu__list:last-child {
	margin-right: 30px;
}
.menu__item-link {
	font-size: 18px;
	line-height: 23px;
	color: #8f8a99;
}
.menu__item-link:hover {
	color: #000;
}
.header__content-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__content-title {
	font-size: 48px;
	max-width: 426px;
	margin-bottom: 25px;
	font-weight: bold;
	line-height: 56px;
	color: #000000;
}
.header__content-text {
	font-weight: 300;
	font-size: 21px;
	line-height: 32px;
	color: #7d7987;
	margin-bottom: 45px;
	max-width: 445px;
}
.header__content-link {
	background: #458ff6;
	border-radius: 55px;
	padding: 15px 40px;
	color: #fff;
	font-size: 18px;
	line-height: 60px;
	font-weight: bold;
	border: 2px solid #458ff6;
	transition: all 0.3s;
}
.header__content-link:hover {
	background-color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 60px;
	color: #458ff6;
	border: 2px solid #458ff6;
}
.services {
	margin-bottom: 220px;
	background-image: url("/30.01/img/logos/services-bg.png");
	background-repeat: no-repeat;
	background-position: -55px 210px;
}

.services__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 56px;
	color: #000000;
	position: relative;
	padding-bottom: 26px;
}
.services__title::after {
	content: "";
	border-bottom: 2px solid #000;
	width: 56px;
	position: absolute;
	bottom: 0;
	left: 47.7%;
}
.services__title {
	text-align: center;
	margin-bottom: 33px;
}
.services__text {
	text-align: center;
	margin: 0 auto;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #7d7987;
	max-width: 952px;
	margin-bottom: 82px;
}
.services__benefits {
	margin-bottom: 40px;
	position: relative;
}
.services__benefits-inner {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 35px;
}
.services__benefits-items {
	max-width: 350px;
	max-height: 350px;
	margin-bottom: 37px;
	padding: 45px 50px 45px 40px;
	box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
	border-radius: 20px;
	background: #fff;
	position: relative;
	z-index: 3;
}
.services__benefits-icon {
	margin-bottom: 30px;
	height: 90px;
}
.services__benefits-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 56px;
	color: #000000;
}
.services__benefits-text {
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	color: #7d7987;
}
.services__benefits-img-design {
	position: absolute;
	z-index: 1;
	right: 1%;
	top: 37%;
}
.services__button {
	text-align: center;
}
.button__link {
	background: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 60px;
	color: #458ff6;
	border: 1.4px solid #458ff6;
	border-radius: 55px;
	padding: 12px 40px;
	transition: all 0.4s;
}
.button__link:hover {
	background: #458ff6;
	color: #fff;
	border: 1.4px solid #458ff6;
}
.supply__inner {
	display: flex;
	justify-content: space-between;
}
.supply__column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.supply__column-title {
	max-width: 400px;
	margin-bottom: 30px;
}
.title {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	color: #000000;
	padding-bottom: 26px;
	position: relative;
}
.title::after {
	content: "";
	border-bottom: 2px solid #000;
	width: 56px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.supply__column-text {
	max-width: 410px;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #7d7987;
	margin-bottom: 37px;
}

.mobile-apps {
	padding-top: 265px;
	margin-bottom: 250px;
	background-image: url("/30.01/img/logos/supply-design.png");
	background-repeat: no-repeat;
	background-position: 100% 0%;
}
.mobile-apps__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mobile-apps__title {
	max-width: 254px;
	margin-bottom: 30px;
}
.mobile-apps__button {
	position: relative;
}
.mobile-apps__text {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #7d7987;
	margin-bottom: 40px;
	max-width: 380px;
}

.mobile-apps__button-link {
	background: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 60px;
	color: #458ff6;
	border: 1.4px solid #458ff6;
	border-radius: 55px;
	padding: 12px 55px 12px 40px;
	transition: all 0.4s;
}
.mobile-apps__button-link:hover {
	background: #458ff6;
	color: #fff;
	border: 1.4px solid #458ff6;
}
.mobile-apps__button-icon {
	position: absolute;
	bottom: 22px;
	left: 143px;
}
.mobile-apps__button:hover path {
	fill: #fff;
	transition: all 0.4s;
}
.slider {
	margin-bottom: 220px;
}
.slider__inner {
	position: relative;
}
.slider__items {
	max-width: 1220px;
	margin: 0 auto;
}

.slider__item {
	background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
	border-radius: 24px;
	padding: 65px 120px 80px 120px;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 40px;
	position: relative;
}

.slider__item-design--right {
	position: absolute;
	top: -15px;
	right: -44px;
}
.slider__item-design--left {
	position: absolute;
	bottom: 40px;
	left: -48px;
}
.slider__item-title {
	position: relative;
	font-size: 36px;
	line-height: 48px;
	color: #ffffff;
	text-align: center;
	padding-bottom: 26px;
	margin-bottom: 77px;
}
.slider__item-title::after {
	content: "";
	border-bottom: 2px solid #fff;
	width: 56px;
	position: absolute;
	bottom: 0;
	left: 47.7%;
}
.slider__item-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.slider__item-person {
	display: flex;
	align-items: center;
}
.slider__item-img {
	border-radius: 50%;
	border: 4px solid #fff;
}
.slider__item-person-inf {
	margin-left: 30px;
}
.slider__item-person-name {
	font-weight: bold;
	font-size: 22px;
	line-height: 48px;
	color: #ffffff;
}
.slider__item-person-position {
	font-size: 18px;
	line-height: 25px;
	color: rgba(255, 255, 255, 0.85);
}
.slider__item-review {
	max-width: 410px;
	font-size: 19px;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.9);
}
.slick-dots {
	display: flex;
	justify-content: center;
	position: relative;
}
.slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #f0f6fe;
}
.slick-active button {
	background-color: #5b9bf3;
}
.slick-dots li + li {
	margin-left: 18px;
}
.slick__arrow-right {
	z-index: 2;
	position: absolute;
	bottom: -3px;
	right: 63%;
}
.slick__arrow-left {
	z-index: 2;
	position: absolute;
	bottom: -3px;
	left: 63%;
}
.article {
	margin-bottom: 130px;
	background-image: url("/30.01/img/logos/bg-article.png");
	background-repeat: no-repeat;
	background-position: 120% 36%;
}
.article__list {
	display: flex;
	justify-content: center;
	column-gap: 35px;
	margin-bottom: 70px;
}
.article__item {
	max-width: 350px;
	box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
	border-radius: 20px;
	position: relative;
	background-color: #fff;
}
.article__item-img {
	position: relative;
	z-index: 3;
}
.article__item-design {
	position: absolute;
	top: -40px;
	left: -50px;
	z-index: 1;
}
.article__title {
	position: relative;
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	line-height: 56px;
	color: #000000;
	margin-bottom: 80px;
	padding-bottom: 26px;
}
.article__title::after {
	content: "";
	border-bottom: 2px solid #000;
	width: 56px;
	position: absolute;
	bottom: 0;
	left: 47.7%;
}
.article__item-inf {
	padding: 24px 55px 35px 33px;
}

.article__item-title {
	max-width: 250px;
	font-weight: bold;
	font-size: 21px;
	line-height: 32px;
	color: #000000;
	margin-bottom: 12px;
}
.article__item-text {
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	color: #7d7987;
	margin-bottom: 25px;
}
.article__item-link {
	font-weight: 600;
	font-size: 17px;
	line-height: 28px;
	color: #4089ed;
}
.article__item-link svg {
	margin-left: 10px;
}
.article__button {
	text-align: center;
}

.footer {
	background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
	position: relative;
}
.footer__dedign--bottom {
	position: absolute;
	bottom: 0;
	left: 0;
}
.footer__dedign--top {
	position: absolute;
	top: -70px;
	right: 5%;
}
.footer__inner {
	padding-top: 125px;
	padding-bottom: 110px;
	display: flex;
	justify-content: space-between;
}
.footer__logo {
	display: block;
	margin-bottom: 22px;
}
.footer__logo-text {
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: #ffffff;
	max-width: 378px;
	margin-bottom: 30px;
}
.footer__copyright {
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	color: #ffffff;
}
.footer__menu-list {
	display: flex;
}
.footer__menu-list li + li {
	margin-left: 150px;
}
.footer__menu-item {
	display: flex;
	flex-direction: column;
}
.footer__menu-item-title {
	font-weight: bold;
	font-size: 20px;
	line-height: 60px;
	color: #ffffff;
}
.footer__menu-item-link {
	font-weight: 300;
	font-size: 18px;
	line-height: 38px;
	color: #ffffff;
}

@media (max-width: 1460px) {
	.header {
		background-image: none;
	}
}
@media (max-width: 1265px) {
	.services__benefits-img-design {
		display: none;
	}
}
@media (max-width: 1200px) {
	.header__content-img {
		max-width: 57%;
	}
	.header__content-title {
		font-size: 45px;
		line-height: 51px;
	}
	.header__content-text {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 35px;
	}
	.header__content-link {
		padding: 13px 34px;
	}
	.supply__img {
		max-width: 55%;
	}
	.mobile-apps__img {
		max-width: 55%;
	}
	.slider__item {
		padding: 65px 70px 80px 70px;
	}
	.article__list {
		flex-wrap: wrap;
	}
	.article__item {
		margin-bottom: 30px;
	}
}
@media (max-width: 1024px) {
	.header__content-img {
		max-width: 53%;
	}
	.supply__img {
		max-width: 53%;
	}
}
@media (max-width: 1080px) {
	.slider__item-person-name {
		line-height: 28px;
		margin-bottom: 15px;
	}
	.slider__item-review {
		max-width: 350px;
	}
	.slider__item-title {
		margin-bottom: 40px;
	}
	.slider__item-person-name {
		max-width: 170px;
	}
	.footer__menu-list li + li {
		margin-left: 90px;
	}
}
@media (max-width: 1023px) {
	.header__top {
		margin-bottom: 50px;
	}
	.header__content-inner {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: center;
	}
	.header__content-img {
		margin-bottom: 30px;
	}
	.header__content-title {
		max-width: 100%;
		margin-bottom: 25px;
		font-size: 40px;
	}
	.header__content-text {
		font-size: 19px;
	}
	.services__benefits-img-design {
		display: none;
	}
	.supply__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.supply__img {
		margin-bottom: 40px;
	}
	.mobile-apps__inner {
		display: flex;
		flex-direction: column-reverse;
	}
	.mobile-apps__img {
		margin-bottom: 40px;
	}
	.article__title {
		margin-bottom: 27px;
	}
}
@media (max-width: 970px) {
	.slider__item-review {
		max-width: 316px;
	}
	.footer__inner {
		flex-direction: column-reverse;
		align-items: center;
	}
	.footer__menu-list {
		display: flex;
		margin-bottom: 40px;
	}
	.footer__logo-text {
		max-width: 510px;
	}
}
@media (max-width: 950px) {
	.services__title::after {
		display: none;
	}
	.article__title::after {
		display: none;
	}
	.header {
		margin-bottom: 120px;
	}
	.services {
		margin-bottom: 170px;
	}
	.slider__item-person-inf {
		margin-left: 15px;
	}

	.slider__item {
		padding: 55px 40px 60px 40px;
	}
}
@media (max-width: 880px) {
	.menu__list {
		padding-top: 20px;
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		display: block;
		text-align: center;
		background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
		transform: translateY(-200%);
		transition: all 0.3s;
		padding: 140px 0 130px 0px;
	}
	.menu__list li + li {
		margin-left: 0px;
		margin-bottom: 25px;
	}
	.menu__list {
		margin-left: 0;
	}
	.menu__list:last-child {
		margin-right: 0px;
	}
	.menu__item {
		margin-bottom: 25px;
	}
	.menu__item-link {
		display: block;
	}
	.menu__item-link {
		color: #fff;
	}
	.header__top-inner {
		align-items: center;
	}
	.menu__btn {
		display: block;
		background-color: inherit;
		padding: 0;
		position: relative;
		z-index: 2;
	}
	.header__top-inner.header__top-inner--active .menu__list {
		transform: translateY(0%);
	}
	.header__top-inner.header__top-inner--active .menu__btn path {
		fill: #fff;
	}
	.header__top-inner.header__top-inner--active .logo ellipse {
		fill: #fff;
	}
	.header__top-inner.header__top-inner--active .logo path {
		fill: #233348;
	}
	.logo {
		position: relative;
		z-index: 2;
	}
}
@media (max-width: 840px) {
	.slider__item-review {
		font-size: 15px;
		line-height: 25px;
	}
	.slider__item-img {
		width: 100px;
	}
	.slider__item-review {
		max-width: 280px;
	}
	.slider__item-title {
		font-size: 30px;
		line-height: 48px;
		padding-bottom: 15px;
	}
}
@media (max-width: 768px) {
	.header__content-title {
		font-size: 36px;
		line-height: 45px;
	}
	.header__content-text {
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 30px;
	}
	.header__content-link {
		padding: 11px 30px;
	}
	.slider__item-person-name {
		font-size: 20px;
		margin-bottom: 7px;
	}
}
@media (max-width: 765px) {
	/* .slider {
		display: none;
	} */
	.slider__item-row {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.slider__item-person {
		margin-bottom: 30px;
	}
}
@media (max-width: 700px) {
	.header__content-img {
		display: none;
	}
	.supply__img {
		display: none;
	}
	.mobile-apps__img {
		display: none;
	}
	.footer__dedign--bottom {
		display: none;
	}
}
@media (max-width: 660px) {
	.slider__item-title::after {
		display: none;
	}
	.slider__item-title {
		margin-bottom: 10px;
	}
}
@media (max-width: 550px) {
	.footer__menu-list {
		flex-direction: column;
	}
	.footer__menu-list li + li {
		margin-left: 0;
	}
	.footer__menu-item {
		margin-bottom: 30px;
	}
}
@media (max-width: 520px) {
	.slick__arrow-left {
		left: 70%;
	}
	.slick__arrow-right {
		right: 70%;
	}
	.slider__item {
		margin-right: 0px;
		margin-left: 0px;
	}
	.slider__item-design--left {
		position: absolute;
		bottom: 40px;
		left: 8px;
	}
}
@media (max-width: 480px) {
	.article__item-design {
		display: none;
	}
}
@media (max-width: 425px) {
	.header__content-img {
		display: none;
	}
	.header__content-title {
		font-size: 32px;
		line-height: 40px;
	}
	.header__content-link {
		padding: 10px 25px;
	}
	.services__benefits-items {
		max-height: 320px;
	}
	.mobile-apps {
		background-image: none;
	}
	.article__item {
		max-width: 280px;
	}
	.article__item-img {
		max-width: 280px;
	}
}
@media (max-width: 410px) {
	.slider__item-title {
		font-size: 27px;
		line-height: 40px;
		padding-bottom: 10px;
	}
	.slider__item {
		padding: 50px 35px 60px 35px;
	}
}
@media (max-width: 375px) {
	.services__benefits-title {
		font-size: 22px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.services__benefits-text {
		font-size: 15px;
		line-height: 25px;
	}
	.services__benefits-icon {
		margin-bottom: 30px;
		height: 70px;
	}
	.slider__item {
		padding: 45px 35px 50px 35px;
	}
	.slider__item-title {
		font-size: 23px;
		line-height: 35px;
		padding-bottom: 10px;
	}
	.slick__arrow-left {
		left: 73%;
	}
	.slick__arrow-right {
		right: 73%;
	}
	.slider__item-img {
		width: 95px;
	}
	.slider__item-person-name {
		line-height: 23px;
		font-size: 18px;
	}
	.slider__item-person-position {
		font-size: 17px;
		line-height: 23px;
	}
}
@media (max-width: 340px) {
	.slider__item {
		padding: 45px 30px 45px 30px;
	}
	.slider__item-title {
		font-size: 22px;
		line-height: 30px;
		padding-bottom: 10px;
	}
}
